@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:ital,wght@0,300;0,400;0,500;1,700&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik&family=Rubik+Spray+Paint&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url('./Fireworks.png');
    background-size: cover;
    background-position: left;
    color: white;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
p{
    font-size: 15px;
    margin-top: 10px;
}
.newyear{
    font-size: 40px;
     margin-top: 30px;
}
.box{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box h2{
    font-size: 30px;
}
.box small{
    font-size: 10px;
}
@media (min-width:576px){
    .newyear{
        font-size: 50px;
    }
    p{
        font-size: 20px;
    }
    .box h2{
        font-size: 40px;
    }
    .box{
        width: 70px;
        height: 70px;
    }
    .box small{
        font-size: 15px;
    }
}
@media (min-width:768px){
    .newyear{
        font-size: 80px;
    }
    p{
        font-size: 25px;
    }
    .box h2{
        font-size: 50px;
    }
    .box{
        width: 100px;
        height: 100px;
    }
    .box small{
        font-size: 18px;
    }
}